/* Small Devices, Tablets */
@include tablet {
    .light-btn {
        max-width: 70%;
        min-width: 60%;
    }

    .action-btn {
        max-width: 70%;
        min-width: 60%;
    }

    .photo-line {
        figure {
            padding: 0;
            margin: 0 0 20px !important;
            width: 100% !important;
            @include box-shadow(0 0 1px rgba($black, 0.2));
        }
    }

    .info-contact {
        .item-map {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .dialog__content {
        width: 80%;
        max-width: 80%;
        min-width: 75%;
    }

    .dialog {
        .dialog-inner {
            padding: 40px 20px 90px;
            overflow: hidden;
        }
    }
}
