body {
    background: $ebony-clay;
    font-family: $font-family;
    color: $white;
    @include font-smoothing(on);
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5em;
    position: absolute;
    height: 100%;
}

.scroll-touch {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

body, input, select, textarea {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
}

a {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;
    text-decoration: none;
    color: $white;

    &:hover {
        color: darken($caribbean-green, 5%);
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $white;
    }
}

button {
    @include bezier-transition(all, $fast-transition, cubic-bezier(0.42, 0, 0.58, 1));
    cursor: pointer;

    &:hover, &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $shark;
    }
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0;
    font-size: 1em;
    line-height: 1.6em;
    color: $white;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-weight: 400;
    line-height: 1.3em;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: inherit;
    }
}

h1 {
    font-size: 40px;
    font-family: $second-font;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

h4 {
    font-size: 25px;
    margin-bottom: 25px;
}

h5 {
    font-size: 20px;
    margin-bottom: 25px;
}

h6 {
    font-size: 15px;
    margin-bottom: 25px;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

.clear {
    clear: both;
}

.display-none {
    display: none !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0 !important;
    visibility: hidden !important;
}

.opacity-03 {
    opacity: 0.3 !important;
}

.opacity-1 {
    opacity: 1 !important;
    visibility: visible !important;
}

.index-999 {
    z-index: -999 !important;
}
