#right-side {
    background: $athens-gray;
    position: relative;
    overflow: auto;
    @include transform-phly(100%, 0, 0);
    top: 0;
    width: 50%;
    @include bezier-transition(all, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    &.hide-right {
        @include transform-phly(200%, 0, 0);
    }

    .content {
        width: 100%;
        padding: 8% 10% 0;
        text-align: left;
        @include font-smoothing;
        opacity: 1;
        visibility: visible;

        h1, h2, h3, h4, h5, h6 {
            color: $raven;
        }

        h3 {
            font-family: $second-font;
            text-transform: uppercase;
            font-weight: 700;
        }

        span.separator {
            display: block;
            height: 2px;
            background: $white;
            width: 100%;
            margin: 50px 0 60px;
        }

        p {
            color: $dove-gray;
        }

        .photo-line {
            figure {
                padding: 0;
                margin: 0 15px 30px;
                width: calc(50% - 30px);
                @include box-shadow(0 0 1px rgba($black, 0.2));
                background: $black;

                &.clear-second {
                    clear: both;
                }

                a.box-picture {
                    overflow: hidden;
                    width: 100%;
                    display: block;
                    position: relative;

                    p {
                        bottom: 50%;
                        line-height: 1;
                        height: auto;
                        width: 100%;
                        text-align: center;
                        color: $white;
                        font-family: $second-font;
                        text-transform: uppercase;
                        font-size: 1em;
                        letter-spacing: 2px;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        @include transform(translateY(50%));
                        @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
                    }
                }

                a.box-picture:hover {
                    background: $black;

                    img {
                        opacity: 0.5;
                    }

                    p {
                        opacity: 1;
                    }
                }

                img {
                    overflow: hidden;
                    @include bezier-transition(all, 0.3s, cubic-bezier(0.42, 0, 0.58, 1));
                    @include backface-visibility(hidden);
                    @include transform(scale(1));
                    @include bezier-transition(all, $long-transition, cubic-bezier(0.215, 0.61, 0.355, 1));
                }

                .photo-details {
                    background: $white;
                    padding: 1em;
                    text-align: left;
                    color: $dove-gray;

                    h4 {
                        font-weight: 800;
                        margin-bottom: 1em;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        opacity: 1;
                        color: $dove-gray;
                    }

                    span.border {
                        display: block;
                        height: 2px;
                        background: $caribbean-green;
                        width: 10%;
                        margin: 0.8em 0 1em;
                    }

                    p {
                        font-size: 0.9em;
                        color: $dusty-gray;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

.widget-angle-top-right {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: -22px;
    }
}

.widget-angle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: -22px;
    }
}

.widget-angle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: 7px;
    }
}

.widget-angle-top-left {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $second-font;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: 7px;
    }
}

#close-more-info {
    position: fixed;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: $raven;
    font-size: 2em;

    &:hover {
        @include transform(scale(1.2));
    }

    &.hide-close {
        right: -40px;
    }
}

.mCSB_scrollTools {
    /* Scrollbar */
    position: absolute;
    width: 5px;
    height: auto;
    left: auto;
    top: 0;
    right: -5px;
    bottom: 0;
    z-index: 1;
    @include bezier-transition(all, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    .mCSB_draggerRail {
        width: 5px;
        height: 100%;
        margin: 0;
        @include border-radius(0);
        background-color: rgba($raven, 1);
        filter: "alpha(opacity=40)";
        -ms-filter: "alpha(opacity=40)";
    }

    .mCSB_dragger .mCSB_dragger_bar {
        /* the dragger element */
        position: relative;
        width: 5px;
        height: 100%;
        margin: 0 auto;
        @include border-radius(0);
        text-align: center;
    }

    .mCSB_dragger .mCSB_dragger_bar {
        background-color: rgba($caribbean-green, 1);
    }
}

.mCSB_scrollTools-left {
    right: 50% !important;
}
