.social-icons {
    position: absolute;
    left: 10%;
    bottom: 5%;
    margin-left: -22px;
    margin-bottom: -22px;
    display: block;
    z-index: 9;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    @include bezier-transition(all, 0.7s, cubic-bezier(0.42, 0, 0.58, 1));

    i {
        color: $white;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));
    }

    a {
        color: rgba($white, 1);
        width: 50px;
        line-height: 50px;
        letter-spacing: 0;
        background: transparent;
        font-size: 1em;
        font-weight: 300;
        height: 50px;
        display: inline-block;
        text-align: center;
        float: left;
        margin-right: 2px;
        border: none;
        @include bezier-transition(all, 0.3s, cubic-bezier(0, 0, 0.58, 1));

        &:hover {
            color: rgba($caribbean-green, 1);
            background: transparent;

            i {
                color: rgba($caribbean-green, 1);
                @include transform(scale(1.2));
            }
        }
    }
}
